h1 {
    font-size: 12vh;
    text-align: center;
    padding-top: 5%;
    color: black;
    user-select: none;
}

h2 {
    font-size: 5vw;
    text-align: center;
    padding-top: 2%;
    color: black;
    /* padding: 2px; */
    user-select: none;
    height: auto;
    margin-top: -3vh;
    margin-bottom: 3vh;
}


a {
    font-size: 100%;
    color: black;
    text-decoration: none;
    animation: 3s linear 0s font-size;
    user-select: none;
    transition: all .1s ease-in-out;
}

a:hover {
    font-size: 110%;
}

.title {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modes {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vh;
    text-align: center;
}

img {
    user-select: none;
}

.buttonReturn {
    position: absolute;
    font-size: 2vw;
    padding: 2vw;
    margin-top: 3vh;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 10px;
    overflow: visible;
    background-color: #E4B1F0;
    transition: all .1s ease-in-out;
}

.buttonReturn:hover {
    background-color: #cba2d5;
}

.buttonReturn:active {
    background-color: #93779b;
}