h1 {
    font-size: 700%;
    text-align: center;
    padding-top: 5%;
    color: black;
    user-select: none;
}

h2 {
    font-size: 5vw;
    text-align: center;
    padding-top: 5%;
    color: black;
    /* padding: 2px; */
    user-select: none;
    height: auto;
    margin-top: -3vh;
    margin-bottom: -3vh;
}

img {
    user-select: none;
}

.title {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modes {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: center;
}
.modeChoose{
    font-size: 100%;
    color: black;
    text-decoration: none;
    animation: 3s linear 0s font-size;
    user-select: none;
    transition: all .1s ease-in-out;
}

.modeChoose:hover {
    font-size: 110%;
}

.gitCredits{
    color: rgb(171, 170, 170);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 8px;
    text-decoration: none;
    
}